@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --nav-bg: linear-gradient(to right, cornsilk, floralwhite, cornsilk)
}

.layout{
    margin: 20px 0;
    display: flex;
    justify-content: center;
    font-size: larger;
    font-weight: bolder;
    color: brown;
    background-color: burlywood;
}
